<header>
  <nav class="be-red white large-padding">
    <ul class="no-list row center-xs middle-xs">

      <li class="col-md">
        <%= link_to "Harvin Design & Tecnology", articles_path %>
      </li>
      <li class="col-md">
        <%= link_to "Nuevo", new_article_path %>
      </li>

      <% if user_signed_in?%>
      <li class="col-md">
        <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
      </li>
      <%else%>
      <li class="col-md">
        <%= link_to "Iniciar sesión", new_user_session_path %>
      </li>
      <li class="col-md">
        <%= link_to "Crear Cuenta", new_user_registration_path %>
      </li>
      <%end%>
    </ul>
  </nav>
</header>
