html,body{
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}
a,a:visited{
  color:inherit !important;
  text-decoration: none;
}
.btn{
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 12px;
}

.red{
  color:#E74C3C !important;
}
#logo{
  font-size: 1.2em;
}
.text-center{
  text-align: center;
}
.no-margin{
  margin:0px
}
.be-red{
  background-color: #222222
}
.white{
  color:#fff
}
.large-padding{
  padding: 5px 2px;
}
.background-cover{
  background-position: center;
  background-size: cover;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.field,.top-space,.actions{
  margin-top:1em;
}
.relative{
  height: 300px;
}
.text-left{
  text-align: left;
}
.article-height{
  height: 150px;
}
.form-control{
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width:100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}
